table, th, td {
    border: 1px solid black;
}

header {
    padding: 5px;
    background-color: #6b6169; 
    font-family: fantasy;
    
}

body {
    background-color: #989898;
    font-family: fantasy;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #6b6169;
    color: white;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-left: 45px;
}

.figure{
    float: right;
    margin-right: 1065px;

}
